<div class="container" style="margin-top: 20px">
    <div style="float: left; width: 200px; padding-left: 10px">
      <ul style="list-style-type: none; padding: 0">
        <li><a href="/logjournal">Log Journal</a></li>
        <li><a href="/monthlylog">Monthly Log</a></li>
        <li><a href="/chatbot">Chat With Aura</a></li>
        <li><a href="/settings">Settings</a></li>
      </ul>
    </div>